/* ==========================================================================
   Google map
   ========================================================================== */


.google-maps iframe {
    width: 100%;
}


.google-maps.gray iframe {
    width: 100%;
    -webkit-filter: grayscale(0.9);
    filter: grayscale(0.9);
}

